#heading {
    color: blue;
    text-decoration: line-through;
}

.head{
    color: red;
    text-decoration: underline;
}

.box{
    height :100px;
    width: 100px;
    background-color:aqua;    
    border: 1px solid black;
    margin: 5px;    
    text-align: center;
}